@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html {
  scroll-behavior: smooth;
  height: auto;
  font-family: "Roboto", sans-serif;
}
body {
  margin:0;
}
button {
  font-family: "Roboto", sans-serif;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
  }
  .page-header {
    position: absolute;
    width: 100%;
    height: 95px;
    z-index: 20;
  }
  .headerNavMenu {
    position: absolute;
    top: 25px;
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: center;
    z-index: 30;
  }
  .logo {
    position: absolute;
    z-index: 40;
  }
  .logoLink {
    display: block;
  }
  .navMenu {
    display: flex;
    margin: 0 0 0 -10px;
    padding: 14px 0 0;
    font-size:14px;
    }
  .navMenuElement {
    line-height:140%;
  }
  .navMenuElement:nth-child(2) {
    margin: 0 0 0 85px;
  }
  .navMenuElement:nth-child(3) {
    margin: 0 85px 0 244px;
  }
  .navMenuLink {
    color: #ffffff;
    opacity: 0.9;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
  }
  .navMenuLink:hover {
    opacity: 1;
    border-bottom: 1px solid #ffffff;
    font-size: 14px;
    font-weight: 500;
  }
  .navMenuLink--active {
    border-bottom: 1px solid #ffffff;
  }
  .main {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .firstPage {
    width: 100%;
    height: 674px;
    z-index: 10;
  }
  .firstPageBackGroundImg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 744px;
    background-image: url('./assets/images/1stBlock/1stblockbackgroundimage.png');
    background-repeat: no-repeat;
  }
  .firstPageText {
    position: absolute;
    top: 30.7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .yourLifeIsWebDevFirst {
    height: 75px;
    margin: 0;
    padding-left: 3px;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 4.5px;
    color: #ffffff;
  }
  .yourLifeIsWebDevSecond {
    font-size: 18px;
    font-weight: 400;
    line-height:140%;
    color: #ffffff;
    width: 504px;
    height: 50px;
    padding-top: 5px;
    line-height: 25px;
    text-align: center;
  }
  .getStartedButton {
    width: 184px;
    height: 46px;
    margin-top: 11px;
    font-size: 14px;
    font-weight: 700;
    background: #00AFDB;
    color: #ffffff;
    border: 0;
    outline: 0;
  }
  .getStartedButton:hover {
    background: #009cc2;
  }
  .socials {
    position: absolute;
    bottom: 90px;
    width: 100%;
    height: 20px;
  }

  .socialsUnsortedList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .socialsIcons {
    padding: 0 15px;
  }
  .socialsLink {
    display: block;
  }
  .socialsImg:hover {
    transform: scale(1.1);
  }
  .secondBlock {
    position: relative;
    width: 100%;
    height: 837px;
    background: #fff;
    margin-top: 75px;
  }
  .secondBlockContent {
    position: absolute;
    width: 407px;
    height: 233px;
    top: 289px;
    left: 269px;
  }
  .secondBlockContentFirstText {
    font-size: 24px;
    font-weight: 700;
    color: #373737;
    letter-spacing: 1px;
    height: 57px;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .secondBlockContentSecondText {
    font-size: 14px;
    font-weight: 400;
    color: #4e4e4e;
    letter-spacing: 0;
    top: 65%;
    margin-top: 23px;
    line-height: 140%;
    text-align: left;
  }
  .secondBlockButton {
    font-size: 14px;
    font-weight: 700;
    width: 184px;
    height: 46px;
    background: #00afdb;
    color: #ffffff;
    border: 0;
    outline: 0;
    margin-top: 18px;
  }
  .secondBlockImg {
    position: absolute;
    top: 115px;
    right: 269px;
    width: 407px;
    height: 582px;
  }
  .thirdBlock {
    position: relative;
    width: 100%;
    height: 504px;
    background: #f5f6f7;
    overflow: hidden;
  }
  .thirdBlockUserCard {
    top: 155px;
    left: 269px;
    width: 298px;
    height: 175px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .thirdBlockUserCardUserPic {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .thirdBlockContentFirstText {
    margin: 20px 0 0;
    font-size: 16px;
    font-weight: 500;
    color: #373737;
    letter-spacing: 2.4px;
  }
  .thirdBlockContentSecondText {
    font-size: 14px;
    font-weight: 400;
    color: #4e4e4e;
    text-align: center;
    line-height: 20px;
    margin-top: 12px;
  }
  .slider-items {
    position: absolute;
    top: 120px;
    left: 706px;
    height: 244px;
  }
  .sliderUnsortedList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .slider-item {
    width: 407px;
    height: 244px;
    margin-right: 30px;
    list-style-type: none;
   }
   .slider-nav-items-pagination {
     font-size: 18px;
   }
   .slider-nav-items-pagination:first-of-type {
     margin-right: 2px;
   }
   .slider-nav-items-pagination:last-of-type {
     margin-left: 4px;
   }
   .slider-btn {
     margin: 0;
     padding: 0;
     border: 0;
     background: none;
   }
   .slider-btn:hover {
     opacity: 0.5;
   }
  .slider-itemRectangleImg
  {
    display: block;
  }
  .slider-nav-items {
    top: 80px;
    left: 77.3%;
    position: absolute;
    display: flex;
  }
  .slider-nav-items-arrow {
    cursor: pointer;
    padding: 0 11px;
  }
  .slider-nav-items-arrow:hover  {
    cursor: pointer;
    transform: scale(1.1);
  }
  .slider-nav > span {
    font-size: 18px;
    font-weight: 400;
    color: #373737;
  }
  .implementBlock {
    position: relative;
    width: 100%;
    height: 842px;
    background: #ffffff;
  }
  .implementBlockContentImage {
    position: absolute;
    top: 120px;
    left: 269px;
    width: 407px;
    height: 582px;
  }
  .implementBlockContentBlock {
    position: absolute;
    top: 319px;
    right: 378px;
    width: 407px;
    height: 184px;
  }
  .implementBlockContentBlockFirstText {
    font-size: 24px;
    font-weight: 700;
    color: #373737;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
  }
  .implementBlockContentBlockSecondText {
    font-size: 14px;
    font-weight: 400;
    color: #4E4E4E;
    margin: 20px 0 29px 0;
    line-height: 20px;
  }
  .importantText{
    color: #373737;
  }
  .implementBlockButtonLearnMore {
    font-size: 14px;
    font-weight: 700;
    width: 180px;
    height: 46px;
    background: #00AFDB;
    margin-bottom: 0%;
    color: #ffffff;
    border: 0;
    outline: 0;
  }
  .implementBlockButtonLearnMore:hover {
    background: #0066db;
  }
  .subscribeBlock {
    position: relative;
    width: 100%;
    height: 524px;
    background-image: url('./assets/images/5thBlock/5thblockbackgroundimage.jpg');
    background-repeat: no-repeat;
  }
  .subscribeBlockForm {
    position: absolute;
    top: 179px;
    left: 597px;
    height: 104px;
    margin: 0;
    padding: 0;
   }
  .subscribeBlockFirstText {
    margin-left: 13px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
  }
  .subscribeBlockEmailForm {
    display: inline-block;
    width: 340px;
    height: 46px;
    padding: 0 0 0 24px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
  }
  .subscribeBlockEmailForm::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #4E4E4E;
  }
  .subscribeBlockEmailForm:required:invalid:focus {
    border: 1px solid #ff0000;
  }
  .subscribeBlockEmailForm:required:valid:focus {
    border: 1px solid #48ff00;
  }
  .submitblock {
    display: flex;
  }
  .singupButton {
    display: inline-block;
    width: 66px;
    height: 46px;
    background: #00AFDB;
    border: 0;
    outline: 0;
  }
  .singupButton:hover {
    background: #009cc2;
  }
  .download {
    position: relative;
    width: 100%;
    height: 464px;
    background: #f5f6f7;
  }
  .downloadBlock {
    width: 480px;
    height: 164px;
    top: 119px;
    left: 34.8%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .downloadBlockFirstText {
    margin: 0;
    padding: 0;
    padding-left: 4px;
    font-size: 24px;
    font-weight: 700;
    color: #373737;
    letter-spacing: 1px;
  }
  .downloadBlockSecondText {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    margin: 21px 0 6px;
    color: #4e4e4e;
    text-align: center;
  }
  .downloadStoreButtons {
    display: flex;
    width: 394px;
  }
  .downloadStoreButtons > .storeButtonClass {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    width: 186px;
    height: 46px;
    padding: 0;
    margin: 25px 0;
    color: #ffffff;
    background: #00AFDB;
    border: 0;
    outline: 0;
  }
  .storeButtonClass:not(:first-child) {
    margin-left: 30px;
  }
  .storeButtonClass:hover {
    background: #009CC2;
  }
  .storeButtonText {
    width: 128px;
    height: 46px;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
  }
  .storeButton {
    width: 60px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #009CC2;
  }
  .footer {
    position: relative;
    width: 100%;
    height: 185px;
    background: #000000;
  }
  .logoFooter {
    position: absolute;
    top: 60px;
    left: 50%;
    height: 100%;
    transform: translate3d(-50%, 0, 0);
    z-index: 100;
  }
  .logoFooter:hover {
    cursor: pointer;
    opacity: 1;
  }
  .footerNavMenu {
    position: absolute;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    z-index: 50;
  }
  .footerUnsortedList {
    position: relative;
    display: flex;
    list-style-type: none;
    margin: 0 0 0 1px;
    padding: 0;
  }
  .footerNavigationItem:first-child {
    padding-left: 160px;
  }
  .footerNavigationItem {
    padding: 0 20px;
  }
  .footerNavigationItemLink {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    opacity: .8;
  }
  .footerNavigationItemLink:hover {
    border-bottom: 1px solid #ffffff;
    opacity: 1;
  }
  .footerNavigationItem:nth-child(2)::before,
  .footerNavigationItem:nth-child(2)::after {
    font-size: 8px;
    font-weight: 400;
    color: #4e4e4e;
    content: "|";
    top: 5px;
    right: 190px;
    position: absolute;
  }
  .footerNavigationItem:nth-child(2)::after {
    right: 103px;
  }
  .footerCopyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: #818181;
    padding-right: 160px;
  }